body{
    background-image: url('mentalwallp.jpg');
    background-size: 125%;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 22px;
    display: block;
}

table.egy{
    width: 100%;
    background-color: #5f7c94;
    margin-top: 0px;
    color: #a81111;
    vertical-align: top;
}

html{
    margin: 0;
}

p.cim{
    font-size: 56px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    margin: 0px;
    margin-left: 10px;
}

p.vissza{
    font-size: 20px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    background-color: #a81111;
    border-radius: 20%;
    text-align: center;
    color: black;
    width: 40%;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    margin-left: 250px;
    font-size: 54px;
    display: block;
    margin-top: 80px;
}

li.lu{
    margin: 20px;
}

img.job{
    float: right;
    display: block;
    margin-top: 65px;
    margin-right: 300px;
    width: 36%;
    border: 2px black solid;
    border-radius: 10%;
}

h1{
    margin-left: 20px;
    margin-bottom: 20px;
}

p.szov{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 8px;
    margin-top: 8px;
}

ul.felso{
    font-size: large;
    text-align: left;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
}

p.visza2{
    font-size: 20px;
    margin-left: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    background-color: #a81111;
    border-radius: 15%;
    text-align: center;
    color: black;
    width: 10%;
}